h1 {
    color: darkblue;
    text-decoration: underline; 
}

    ul {
       color: gray;
       text-decoration: blink;
    }

    .box { 
        border: 1px solid black;
        padding: 10px
    }

    h2 {
        color: darkblue;
        text-decoration: underline;
    }

    ol
      {color: grey;
      font-size: 30px;

    }